@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.section-container {
    padding: 0 70px;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.main-index {
    flex-grow: 1;
}



.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation-logo {
    width: 140px;
    height: 64px;
    margin-right: 28px;
    top: 0;
    position: absolute;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    list-style-type: none;
    margin-left: 168px;
}


.navigation-item:nth-child(3) {
    margin-right: 0;
}

.navigation-user {
    max-width: 268px;
    display: flex;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-user-item {
  padding: 22px 12px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
}

.navigation-user-link-search {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('../images/index/search.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-user-link-fav {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('../images/index/heart.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-link-current:after {
    content: '';
    background-color: #756157;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -23px;
    height: 2px;
}



.navigation-user-button {
    font-family: inherit;
    padding: 8px 34px;
    background-color: #756157;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-left: 20px;
}


.hero {
    background-image: url("../images/index/divider.svg"), url("../images/index/main_bg.jpeg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
    min-height: 485px;
    margin: 0 auto;
}



.promo-welcome {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.reasons {
    padding: 69px 0;
}

.reasons-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons-descr {
    color: #333;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    margin-top: 25px;
}

.advantages {
    margin-top: 21px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-img {
  object-fit: cover;
}

.advantages-block {
    padding: 103px 85px;
    width: 400px;
    min-height: 385px;
    background-color: #82B3D3;
}

.advantages-block-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-block-medium {
   background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-descr {
    color:#fff;
    margin-top: 60px;
    text-align: center;
}

.advantages-title-dark {
    color: #000000;
}

.advantages-descr-dark {
    color: #333;
}

.come {
    padding: 64px 0;
}

.come-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.come-descr {
    color: #333;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
}


.service-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    position: relative;
    padding: 80px 85px;
    width: 400px;
    min-height: 385px;
    background-color:#fff;
}

.service-item:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 81px;
    width: 75px;
    height: 72px;
}

.service-item:nth-child(1):before {
    content: url('../images/index/house.svg');
}
.service-item:nth-child(2):before {
    content: url('../images/index/food.svg');
}
.service-item:nth-child(3):before {
    content: url('../images/index/presents.svg');
}

.service-item-medium {
    background-color: rgba(131, 179, 211, 0.12);
}

.service-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.service-descr {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

.subscribe {
    padding: 96px 0;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.subscribe-descr {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.subscribe-button {
    display: block;
    padding: 8px 50px;
    margin: 0 auto;
    min-width: 376px;
    background-color: #756157;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    margin-top: 54px;
    cursor: pointer;
    font-family: inherit;
}

.newsletter {
    padding: 96px 0;
    background-image: url("../images/index/subscribe_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
}


.newsletter-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 950px;
    margin-top: 54px;
}

.newsletter-button {
    min-width: 252px;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
    background-color:  #82B3D3;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    font-family: inherit;

}

.field {
    min-width: 452px;
    padding: 12px 20px;
    background-color: #F2F2F2;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px 0 0 4px;
    border: none;
}

.field::placeholder {
    font-size: 18px;
    line-height: 24px;
}

.newsletter-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color:#fff;
}

.newsletter-descr {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.page-footer {
    padding: 40px 70px 30px 70px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-list {
    max-width: 142px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
}

.footer-social-link {
  display: inline-block;
}

.contact-adress {
  max-width: 331px;
}

.contact-address-phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}


.autor-logo {
    width: 115px;
    height: 33px;
}

/* Catalog */

.inner-header {
    min-height: 412px;
    padding: 35px 70px 70px 70px;
    background-image: url('../images/catalog/catalog_bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}



.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #fff;
}

.breadcrumbs {
    position: relative;
    list-style-type: none;
}
.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-item-home .breadcrumbs-link {
    display: inline-block;
    background-image: url('../images/catalog/home.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 13px;
}

.breadcrumbs-item:not(:first-child) {
    padding-left: 28px;
    position: relative;
}

.breadcrumbs-item:not(:first-child):before {
    content: url('../images/catalog/breaddivider.svg');
    position: absolute;
    left: 10px;
}

/* .breadcrumbs-item:nth-child(3) {
    margin-left: 38px
} */

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}


.catalog-filter {
    display: grid;
    grid-template-columns: 150px 220px 288px 191px;
    margin-top: 40px;
    gap: 70px;
}

.catalog-filter-group {
    border: none;
}


.catalog-filter-list {
    margin-top: 32px;
    list-style-type: none;
}

.catalog-filter-list-col {
  margin-top: 32px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.catalog-filter-from {
  max-width: 143px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background-color:  #F2F2F2;
  border: none;
  color:#000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-to {
  max-width: 143px;
  padding: 12px 20px;
  border-radius: 0 4px 4px 0;
  background-color:  #F2F2F2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.range {
  margin-top: 36px;
  position: relative;
  width: 287px;
  height: 20px;
}

.range::before,
.range:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #fff;
}

.range:before {
  width: 226px;
}

.range:after {
  width: 61px;
  left: 226px;
  opacity: .3;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

.range-button-max {
  left: 206.5px;
}


.catalog-filter-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 56px;
}

.catalog-filter-item {
  position: relative;
}

.input-label {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.catalog-filter-item-mb {
  margin-bottom: 16px;
}

.catalog-filter-sub {
    padding: 8px 50px;
    border-radius: 4px;
    background-color: #82B3D3;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: inherit;
}

.catalog-filter-res {
    margin-top: 32px;
    padding: 8px 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.01);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: inherit;
}


.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.control {
    line-height: 23px;
    color: #fff;
}


.catalog-product {
    padding: 50px 70px;
}

.catalog-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.select-control {
    position: relative;
    max-width: 292px;
    margin-left: auto;
    padding: 14px 20px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: inherit;
    appearance: none;
}


.cards-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
    margin-left: 70px;
    list-style-type: none;
    gap: 8px;
}

.cards-list-item {
  width: 48px;
  padding: 12px 14px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.cards-list-item-current {
  border: 2px solid #000;
}


.cards-button {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-list-item:nth-child(1) .cards-button {
  background-image: url('../images/catalog/view.svg');
}

.cards-list-item:nth-child(2) .cards-button {
  background-image: url('../images/catalog/card.svg');
}

.cards-list-item:nth-child(3) .cards-button {
  background-image: url('../images/catalog/view-icon.svg');
}

.catalog-product-title {
    max-width: 400px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-top: 40px;
}


.product-list-item {
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding: 20px;
}

.product-list-filter {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    margin-top: 16px;
    gap: 20px;
}

.product-list-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.product-list-title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.product-list-image {
  display: block;
    width: 300px;
    min-height: 212px;
}

.product-list-name {
    color: #333;
}

.product-list-price {
    color:#333;
    text-align: right;
    font-weight: 400;
}

.product-list-about {
    padding: 8px 26px;
    border-radius: 4px;
    background-color: #756157;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.product-list-fav {
    padding: 8px 26px;
    border-radius: 4px;
    background-color: #82B3D3;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.product-list-fav-clicked {
    background-color: #7DB54F;
}

.product-list-rating {
    padding: 8px 22px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #F2F2F2;
    text-align: center;
}


.divider {
  margin-top: 40px;
  position: relative;
}

.divider-row:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}


.pagination {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
    list-style-type: none;
    gap: 8px;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
    background-color: #82B3D3;
    padding: 10px;
}


.pagination-item-current {
    background-color: #F2F2F2;
}
.pagination-item-dots {
    background-color: #fff;
}

.pagination-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.pagination-link-current {
    color: #000;
}


.newsletter-without {
    background-image: none;
}

.newsletter-title-dark {
    color: #000;
}
.newsletter-descr-dark {
    color: #333;
}
